@import "./base.css";
@import "overlayscrollbars/overlayscrollbars.css";

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

@layer components {
  .card {
    @apply rounded-lg border border-neutral-800;
  }

  .primary-color {
    --color-accent: var(--color-primary-500);
  }
  .secondary-color {
    --color-accent: var(--color-secondary-500);
  }
  .success-color {
    --color-accent: var(--color-success-500);
  }
  .info-color {
    --color-accent: var(--color-info-500);
  }
  .warning-color {
    --color-accent: var(--color-warning-500);
  }
  .error-color {
    --color-accent: var(--color-error-500);
  }
  .neutral-color {
    --color-accent: var(--color-neutral-300);
  }
}

@utility scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge Legacy */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
