.button {
  padding: var(--gap-size-s);
  padding-inline: var(--gap-size-m);
  font-size: var(--font-size-s);
  min-width: fit-content;
  cursor: pointer;
}

.button:focus,
.button:hover {
  border-color: var(--clr-accent);
  color: var(--clr-accent);
}

.button:disabled {
  border-color: transparent;
  color: var(--clr-fg-dark);
  cursor: auto;
}
