button {
  padding: var(--gap-size-s);
  padding-inline: var(--gap-size-m);
  cursor: inherit;
}

.button {
  font-size: var(--font-size-s);
  max-width: fit-content;
  cursor: pointer;
}

.button:has(:focus),
.button:has(:hover) {
  border-color: var(--clr-accent);
  color: var(--clr-accent);
}

.button:has(:disabled) {
  border-color: transparent;
  color: var(--clr-fg-dark);
  cursor: auto;
}
