/* sizes */
:root {
  --tile-size:         3rem;
  --border-r:          10px;
  --icon-width:        calc(var(--tile-size) * 0.03);
  --max-content-width: calc(var(--tile-size) * 8);
  --gap:               calc(var(--tile-size) * 0.2);
  --text-xxl:          calc(var(--tile-size) * 0.6);
  --text-xl:           calc(var(--tile-size) * 0.5);
  --text-l:            calc(var(--tile-size) * 0.4);
  --text-m:            calc(var(--tile-size) * 0.3);
  --text-s:            calc(var(--tile-size) * 0.2);
  --text-xs:           calc(var(--tile-size) * 0.1);
  --line-height:       1.5;
}

@media (min-width: 600px) {
  :root {
    --tile-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --tile-size: 4rem;
  }
}

/* color kit */
:root {
  --black-0:   hsl(0, 0%, 5%);
  --black-1:   hsl(0, 0%, 10%);
  --black-2:   hsl(0, 0%, 15%);
  --gray-0:    hsl(0, 0%, 20%);
  --gray-1:    hsl(0, 0%, 40%);
  --gray-2:    hsl(0, 0%, 60%);
  --gray-3:    hsl(0, 0%, 80%);
  --white-0:   hsl(0, 0%, 95%);
  --white-1:   hsl(0, 0%, 99%);
  --accent-0:  hsl(259, 90%, 50%);
  --accent-1:  hsl(259, 90%, 60%);
  --accent-2:  hsl(259, 90%, 70%);
  --success-0: hsl(135, 90%, 50%);
  --success-1: hsl(135, 90%, 65%);
  --success-2: hsl(135, 90%, 75%);
  --warning-0: hsl(60, 90%, 50%);
  --warning-1: hsl(60, 90%, 70%);
  --warning-2: hsl(60, 90%, 80%);
  --danger-0:  hsl(340, 90%, 50%);
  --danger-1:  hsl(340, 90%, 60%);
  --danger-2:  hsl(340, 90%, 70%);
}

/* colors */
:root {
  --bg-clr-0:        var(--black-0);
  --bg-clr-1:        var(--black-1);
  --bg-clr-2:        var(--black-2);
  --border-clr:      var(--gray-0);
  --icon-clr:        var(--gray-1);
  --text-clr:        var(--white-0);
  --text-clr-dark-0: var(--black-0);
  --text-clr-dark-1: var(--black-2);
  --text-clr-dark-2: var(--gray-0);
  --text-clr-dark-3: var(--gray-1);
  --text-clr-dark-4: var(--gray-2);

  --cropper-border-clr: var(--white-0);
  --cropper-grid-clr:   var(--white-0);
  --cropper-modal-clr:  var(--black-0);
}

/* animations */
:root {
  --anim-fade: 200ms ease-out;
  --anim-side: 200ms ease-out;
}