/* sizes */
:root {
  --tile-size: 3rem;
  --icon-width: calc(var(--tile-size) * 0.03);
  --main-menu-width: 30rem;
  --main-content-width: 40rem;
  --modal-width: 40rem;
  --toast-area-height: 8rem;
  --gap: calc(var(--tile-size) * 0.2);
  --text-xl: calc(var(--tile-size) * 0.4);
  --text-l: calc(var(--tile-size) * 0.35);
  --text-m: calc(var(--tile-size) * 0.3);
  --text-s: calc(var(--tile-size) * 0.25);
}

@media (min-width: 600px) {
  :root {
    --tile-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --tile-size: 4rem;
  }
}

/* color kit */
:root {
  --black: #030303;
  --grey-dark-1: #131313;
  --grey-dark-0: #333333;
  --grey: #666666;
  --grey-light-0: #808080;
  --white: #f2f2f2;
  --accent: #670dff;
  --success: #cde923;
  --warning: #ffc20d;
  --danger: #de2e6c;
}

/* colors */
:root {
  --bg-darker: var(--black);
  --bg: var(--grey-dark-1);
  --border-0: var(--grey-dark-0);
  --icon: var(--grey);
  --text: var(--white);
  --text-dark-0: var(--grey-light-0);

  --cropper-border: var(--white);
  --cropper-grid: var(--white);
  --cropper-modal: var(--black);
}

/* animations */
:root {
  --animation-focus-duration: 200ms;
  --animation-focus-function: ease-out;
  --animation-submit-duration: 200ms;
  --animation-submit-function: ease-out;
  --animation-appear-from-side-duration: 300ms;
  --animation-appear-from-side-function: ease-out;
}