@import './base.css';

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
  color: var(--text-clr);
  overflow: hidden;
}

#app {
  height: 100dvh;
  background-color: var(--bg-clr-0);
}

.input {
  padding-inline: var(--gap);
  color: var(--text-clr);
  font: inherit;
  font-size: var(--text-m);
  background-color: transparent;

  &::placeholder {
    color: var(--text-clr-dark-3);
  }
}

.tile {
  box-sizing: border-box;
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: var(--bg-clr-1);
  border: var(--border-clr) solid 1px;
  border-radius: var(--border-r);
  display: grid;
  place-content: center;
}

.main-content {
  max-width: var(--max-content-width);
  width: 80%;
  margin-inline: auto;
}