@import './base.css';

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
  color: var(--text-clr);
  overflow: hidden;
}

#app {
  height: 100vh;
  background-color: var(--bg-clr-0);
}

.tile {
  box-sizing: border-box;
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: var(--bg-clr-1);
  border: var(--border-clr) solid 1px;
  border-radius: calc(var(--tile-size) * 0.35);
  display: grid;
  place-content: center;
}

.button {
  width: fit-content;
  height: fit-content;
}

.main-content {
  max-width: var(--max-content-width);
  width: 80%;
  margin-inline: auto;
}