@import './base.css';

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
  color: var(--text);
  overflow: hidden;
}

#app {
  height: 100vh;
  background-color: var(--bg-darker);
}

.tile {
  box-sizing: border-box;
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: var(--bg);
  border: var(--border-0) solid 1px;
  border-radius: calc(var(--tile-size) * 0.28);
  display: grid;
  place-content: center;
}

.button {
  width: fit-content;
  height: fit-content;
}